.baladin_rouge{
    text-decoration: none;
    color: red;
}
.bala_bleu_claire{
    text-decoration: none;
    color: blue;
}
.baladin_noir{
    text-decoration: none;
    color: blue;
}
.dain_bleu_claire{
    text-decoration: none;
    color: violet;
}
.baladin_bleu{
    text-decoration: none;
    color: red;
}
.baladin_ok{
    text-decoration: none;
    color: red;
}
.baladin_vert{
    text-decoration: none;
    color: black;
}